{% extends "Header-Footer.html" %} {% block content %} {% load static %}

<div id="page-top">
    <div id="wrapper">
        <div id="mySidenav" class="sidenav bg-light">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="progress mx-4 mb-4">
                <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="85"
                    aria-valuemin="0" aria-valuemax="100">
                    85%
                </div>
            </div>
            {% for acc in topic_list %}
            <a href="#" onclick="(contentData('{{acc.id}}'))" class="text-dark"> {{ acc.topic }}</a>
            {% endfor %}
        </div>

        <div id="content-wrapper">
            <div id="content">
                <div id="navChanger"></div>

                <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mx-2 v-header" id="v-myHeader"
                    style="z-index: 1;">
                <span style="font-size:30px;cursor:pointer" id="openmenu" onclick="openNav()">&#9776;</span>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto justify-content-around" style="width: 100%;">
                            <li class="nav-item active">
                                <a class="nav-link v-active" onclick="getActiveClass('vmodule')" href="#">Module</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link v-active" onclick="getActiveClass('vsimulator')"
                                    href="#">Simulator</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link v-active" onclick="getActiveClass('vcompiler')" href="#">Compiler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link v-active" onclick="getActiveClass('vvideo')" href="#">Video</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link v-active" onclick="getActiveClass('vquiz')" href="#">Quiz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link v-active" onclick="getActiveClass('vfaq')" href="#">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="card shadow-sm m-2" id="card-1">
                    <!-- Module -->
                    <div id="Module">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold" id="topicName"></p>
                        </div>
                        <div class="card-body">
                            <p class="text-justify" id="contentData"></p>
                        </div>
                    </div>

                    <!-- Simulator -->
                    <div id="Simulator" class="activeclassnone"><img
                            src="../static/img/gif/binary-and-linear-search-animations.gif" id="v-gif" width="50%"
                            alt="">
                    </div>

                    <!-- Compiler -->
                    <div id="Compiler" class="activeclassnone">
                        <iframe src="https://ide.judge0.com/" height="600rem" width="100%" frameborder="0"></iframe>

                    </div>

                    <!-- video -->
                    <div id="Video" class="activeclassnone">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/8zUYHWqkt4E" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <!-- quiz -->
                    <div id="Quiz" class="activeclassnone">
                        <div class="result py-4 d-none bg-light text-center">
                            <div class="container lead">
                                <p id="v_result">You are <span class="text-primary display-4 p-3">0%</span> score</p>
                            </div>
                        </div>
                        <div class="quiz py-4 bg-light">
                            <div class="container">
                                <h2 class="my-5 text-dark">On with the questions...</h2>
                                <div id="loadMcq"></div>

                                <!-- <form class="quiz-form text-dark">
                                    <div class="my-5">
                                        <p class="lead font-weight-normal">1. How do you give a ninja directions?</p>
                                        <div class="form-check my-2 text-dark">
                                            <input type="radio" name="q1" value="A">
                                            <label class="form-check-label">Show them a map</label>
                                        </div>
                                        <div class="form-check my-2 text-dark">
                                            <input type="radio" name="q1" value="B">
                                            <label class="form-check-label">Don't worry, the ninja will find you</label>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <input type="submit" class="btn btn-dark">
                                    </div>
                                </form> -->

                            </div>
                        </div>
                    </div>

                    <!-- FAQ -->
                    <div id="FAQ" class="activeclassnone">faq</div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const getActiveClass = (Activeclass) => {
        if (Activeclass === "vmodule") {
            $("#Module").show();
            $("#Simulator").hide();
            $("#Compiler").hide();
            $("#Video").hide();
            $("#Quiz").hide();
            $("#FAQ").hide();
        } else if (Activeclass === "vsimulator") {
            $("#Module").hide();
            $("#Simulator").show();
            $("#Compiler").hide();
            $("#Video").hide();
            $("#Quiz").hide();
            $("#FAQ").hide();
        } else if (Activeclass === "vcompiler") {
            $("#Module").hide();
            $("#Simulator").hide();
            $("#Compiler").show();
            $("#Video").hide();
            $("#Quiz").hide();
            $("#FAQ").hide();
        } else if (Activeclass === "vvideo") {
            $("#Module").hide();
            $("#Simulator").hide();
            $("#Compiler").hide();
            $("#Video").show();
            $("#Quiz").hide();
            $("#FAQ").hide();
        } else if (Activeclass === "vquiz") {
            $("#Module").hide();
            $("#Simulator").hide();
            $("#Compiler").hide();
            $("#Video").hide();
            $("#Quiz").show();
            $("#FAQ").hide();
        } else if (Activeclass === "vfaq") {
            $("#Module").hide();
            $("#Simulator").hide();
            $("#Compiler").hide();
            $("#Video").hide();
            $("#Quiz").hide();
            $("#FAQ").show();
        }
    }

    const contentData = (id) => {
        $.ajax({
            url: "get_data_for_topic/", data: { 'id': id }, success: function (result) {
                document.getElementById("topicName").innerHTML = result.name;
                document.getElementById("contentData").innerHTML = result.content;
            }
        });
        $.ajax({
            url: "Get_Data_mcq/", data:  { 'id': id }, success: function (result) {
                console.log(result.mcqs);                
                }
            })
    }
</script>
<script>
    const correctAnswers = ['B', 'B', 'B', 'B'];
    const form = document.querySelector('.quiz-form');
    const result = document.querySelector('.result');
    const v_result = document.getElementById('v_result');

    form.addEventListener('submit', e => {
        e.preventDefault();

        let score = 0;
        let count = 0;
        const userAnswers = [form.q1.value, form.q2.value, form.q3.value, form.q4.value];
        userAnswers.map((index) => {
            if (index != "") {
                count++;
            }
        });
        // console.log(count);
        // if (userAnswers.length == count) {
        // check the answers
        userAnswers.forEach((answer, index) => {
            if (answer === correctAnswers[index]) {
                score += 25;
            }
        });

        // show the result
        scrollTo(0, 0);
        result.classList.remove('d-none');

        let output = 0;
        const timer = setInterval(() => {
            result.querySelector('span').textContent = `${output}%`;
            if (output === score) {
                clearInterval(timer);
            } else {
                output++;
            }
        }, 10);

        // }else{
        //         result.classList.remove('d-none');
        //         result.querySelector('#v_result').innerHTML = "<p class='text-danger'>Please select all question</P>";
        // }

    });
</script>
<script>
    if (!window.localStorage.getItem("Email")) {
        window.location.assign("/login");
    }
</script>
{% endblock %}