{% extends "Header-Footer.html" %} {% block content %}
<nav
  class="navbar navbar-light navbar-expand bg-white shadow-sm mb-4 topbar static-top"
>
  <a class="navbar-brand" href="#"><b class="display-4">V</b>Learn</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <div class="navbar-nav">
      <a
        class="nav-item btn btn-dark nav-link text-white mr-2"
        href="./login.html"
        >Login</a
      >
      <a class="nav-item nav-link active" href="./register.html">Sign up</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="container">
    <h1 class="d-flex justify-content-center  my-3">
      <span class="p-3 badge v-color text-white">Javascript</span>
    </h1>
    <div class="card shadow">
      <div class="card-header">
        <h4 class="">Introduction To Course</h4>
      </div>
      <div class="card-body">
        <p class="text-justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.Porro hic
          consequuntur maiores eveniet? Culpa est assumenda,facilis deserunt
          minus iure, consequatur eos voluptate aliquam cumque ratione quaerat
          ad dolore asperiores. Lorem ipsum dolor sit amet, Lorem ipsum dolor
          sit amet consectetur, adipisicing elit. Deleniti deserunt quo quas,
          doloribus nisi ducimus recusandae, delectus consequatur alias, ullam
          ipsum! Magnam repudiandae alias non cupiditate est minus magni
          deserunt! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Earum temporibus sed adipisci, dolor enim laborum repellendus sapiente
          doloremque placeat distinctio. Sequi quisquam porro, praesentium totam
          similique officia molestiae nobis itaque. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Laboriosam minima qui expedita animi
          obcaecati sequi sapiente quam facere nemo sit. Voluptatum repudiandae
          repellendus obcaecati eaque reprehenderit vel officia maxime dolor.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
          necessitatibus est quasi. Nesciunt natus fugit ad, dolore commodi
          dolores amet molestiae voluptas dicta error ab facere iste distinctio
          repudiandae aliquid? Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Qui hic, tempore officia dolore labore rem amet,
          similique autem temporibus sit adipisci, perferendis expedita. Labore
          animi, eveniet culpa maiores incidunt itaque! consectetur adipisicing
          elit. Voluptate quam explicabo, blanditiis fuga quia deleniti
          laboriosam aliquid, expedita ex quibusdam vel, nesciunt possimus qui
          animi delectus. Quidem earum ullam quisquam.
        </p>
        <p class="text-justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.Porro hic
          consequuntur maiores eveniet? Culpa est assumenda,facilis deserunt
          minus iure, consequatur eos voluptate aliquam cumque ratione quaerat
          ad dolore asperiores. Lorem ipsum dolor sit amet, Lorem ipsum dolor
          sit amet consectetur, adipisicing elit. Deleniti deserunt quo quas,
          doloribus nisi ducimus recusandae, delectus consequatur alias, ullam
          ipsum! Magnam repudiandae alias non cupiditate est minus magni
          deserunt!
        </p>
      </div>
    </div>

    <div class="card shadow mt-5">
      <div class="card-header">
        <h3 class="">Course Content</h3>
      </div>
      <div class="card-body">
        <div class="accordion " id="accordionExample">
          {% for acc in topic_list %}
          <div class="card">
            <div class="card-header" id="headingOne">
              <p
                class="mb-0"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >

                  
                  {{acc.topic}}
                

            </p>
            </div>
          </div>
      {% endfor %}
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center my-3">
      <a href="{% url 'templates:content' %}" class="btn btn-primary m-5 display-4">
        Enroll me</a
      >
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-wrap justify-content-around">
    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a href="./Detail.html" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          JavaScript
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a href="#" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          JavaScript
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a href="#" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          JavaScript
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a href="#" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          JavaScript
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a href="#" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          JavaScript
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
