{% extends "Header-Footer.html" %} {% block content %}
<div id="navChanger"></div>

<div class="container-fluid">
  <div class="container">
    <h1 class="d-flex justify-content-center my-3">
      <span class="p-3 badge v-color text-white">Javascript</span>
    </h1>
    <div class="card shadow">
      <div class="card-header">
        <h4 class="">Introduction To Course</h4>
      </div>
      <div class="card-body">
        <p class="text-justify">
          {{topic_list.0.content | safe }}
        </p>
      </div>
    </div>
    <div class="card shadow mt-5">
      <div class="card-header">
        <h3 class="">Course Content</h3>
      </div>
      <div class="card-body">
        <div class="accordion" id="accordionExample">
          {% for acc in topic_list %}
          <div class="card">
            <div class="card-header" id="headingOne">
              <p
                class="mb-0"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                {{acc.topic}}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center my-3">
      <button onclick="EnrollUser()" class="btn btn-primary m-5 display-4">
        Enroll me
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-wrap justify-content-around">
    <div class="card text-white m-3 shadow-sm" style="max-width: 18rem;">
      <a href="#" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          Python
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Python is an interpreted, high-level, general-purpose programming
          language. Created by Guido van Rossum and first released in 1991...
        </p>
      </div>
    </div>

    <div class="card text-white m-3 shadow-sm" style="max-width: 18rem;">
      <a href="#" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          C++
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          C++ is a high-level, general-purpose programming language created by
          Bjarne Stroustrup as an extension of the C programming language...
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  const EnrollUser = () => {
    window.localStorage.getItem('Email')
      ? window.location.assign('/content')
      : window.location.assign('/login');
  };
</script>
{% endblock %}
