{% extends "Header-Footer.html" %} {% block content %}
<nav
  class="navbar navbar-light navbar-expand bg-white shadow-sm mb-4 topbar static-top"
>
  <a class="navbar-brand" href="#"><b class="display-4">V</b>Learn</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <div class="navbar-nav">
      <a
        class="nav-item btn btn-dark rounded-sm nav-link text-white mr-2"
        href="{% url 'templates:login' %}"
        >Login</a
      >
      <a
        class="nav-item nav-link rounded-sm active"
        href="{% url 'templates:register' %}"
        >Sign up</a
      >
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="container">
    <h1 class="d-flex justify-content-center  my-3">
      <span class="p-3 badge v-color text-white">Javascript</span>
    </h1>
    <div class="card shadow">
      <div class="card-header">
        <h4 class="">Introduction To Course</h4>
      </div>
      <div class="card-body">
        <p class="text-justify">
         {{topic_list.0.content | safe }}
        </p>
      </div>
    </div>
    <div class="card shadow mt-5">
      <div class="card-header">
        <h3 class="">Course Content</h3>
      </div>
      <div class="card-body">
        <div class="accordion " id="accordionExample">
          {% for acc in topic_list %}
          <div class="card">
            <div class="card-header" id="headingOne">
              <p
                class="mb-0"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                {{acc.topic}}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center my-3">
      <a
        href="{% url 'templates:content' %}"
        class="btn btn-primary m-5 display-4"
      >
        Enroll me</a
      >
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-wrap justify-content-around">
    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a href="./Detail.html" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          JavaScript
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a href="#" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          JavaScript
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a href="#" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          JavaScript
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a href="#" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          JavaScript
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a href="#" class="text-white text-decoration-none">
        <h3 class="card-header p-4 text-center rounded-top v-color">
          JavaScript
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
