{% extends "Header-Footer.html" %} {% block content %}
<nav
  class="navbar navbar-light navbar-expand bg-white shadow-sm mb-4 topbar static-top"
>
  <a class="navbar-brand" href="#"><b class="display-4">V</b>Learn</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <div class="navbar-nav">
      <a
        class="nav-item btn btn-dark rounded-sm nav-link text-white mr-2"
        href="{% url 'templates:login' %}"
        >Login</a
      >
      <a
        class="nav-item nav-link rounded-sm active"
        href="{% url 'templates:register' %}"
        >Sign up</a
      >
    </div>
  </div>
</nav>

<div class="container">
  <form class="navbar-search ">
    <div class="input-group">
      <input
        class="bg-light form-control border-0 small"
        type="text"
        placeholder="Search for ..."
      />
      <div class="input-group-append">
        <button class="btn btn-primary py-0" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <div class="d-flex flex-wrap justify-content-around">
    {% for acc in insert_course_table %}
    <div class="card text-white  m-3 shadow-sm" style="max-width: 18rem;">
      <a
        href="{% url 'templates:detail' %}"
        class="text-white text-decoration-none"
      >
        <h3 class="card-header p-4 text-center rounded-top v-color">
          {{ acc.course_name }}
        </h3>
      </a>
      <div class="card-body bg-light text-dark">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
