{% extends "Header-Footer.html" %} {% block content %} {% load static %}

<div id="navChanger"></div>

<div class="container">
  <div class="container-fluid">
    <h3 class="text-dark my-4">User Profile</h3>
    <div class="row mb-3">
      <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-body text-center shadow">
            <img
            id="pic"
            class="rounded-circle mb-3 mt-4"
            src= pic
            width="160"
            height="160"
            />
            <p id="name"></p>
            <!-- <div class="mb-3">
              <button class="btn btn-primary btn-sm" type="button">
                Change Photo
              </button>
            </div> -->
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="text-primary font-weight-bold m-0">
              Completed Courses
            </h6>
          </div>
          <div class="card-body">
            <div class="col">
              <div class="row">
                <div class="col-lg-12 mb-4">
                  <div class="card text-white bg-primary shadow">
                    <div class="card-body">
                      <p class="m-0">C++</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 mb-4">
                  <div class="card text-white bg-success shadow">
                    <div class="card-body">
                      <p class="m-0">Java</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 mb-4">
                  <div class="card text-white bg-info shadow">
                    <div class="card-body">
                      <p class="m-0">Python</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 mb-4">
                  <div class="card text-white bg-warning shadow">
                    <div class="card-body">
                      <p class="m-0">Css</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col">
            <div class="card shadow mb-3">
              <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">
                  Change Password
                </p>
              </div>
              <div class="card-body">
                <form>
                  <div class="col">
                    <div class="form-group">
                      <label for="username"
                        ><strong>Previous Password</strong></label
                      ><input
                        class="form-control"
                        type="password"
                        placeholder="previous password"
                        name="username"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="email"><strong>New Password</strong></label
                      ><input
                        class="form-control"
                        type="password"
                        placeholder="new password"
                        name="email"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="first_name"
                        ><strong>Confirm Password</strong></label
                      ><input
                        class="form-control"
                        type="password"
                        placeholder="conform password"
                        name="first_name"
                      />
                    </div>
                  </div>

                  <div class="form-group ml-3">
                    <button class="btn btn-primary btn-sm" type="submit">
                      Save Settings
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">Courses</h6>
              </div>
              <div class="card-body">
                <h4 class="small font-weight-bold">
                  C++<span class="float-right">70%</span>
                </h4>
                <div class="progress progress-sm mb-3">
                  <div
                    class="progress-bar bg-danger"
                    aria-valuenow="70"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 70%;"
                  >
                    <span class="sr-only">70%</span>
                  </div>
                </div>
                <h4 class="small font-weight-bold">
                  java<span class="float-right">40%</span>
                </h4>
                <div class="progress progress-sm mb-3">
                  <div
                    class="progress-bar bg-warning"
                    aria-valuenow="40"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 40%;"
                  >
                    <span class="sr-only">40%</span>
                  </div>
                </div>
                <h4 class="small font-weight-bold">
                  javascript<span class="float-right">60%</span>
                </h4>
                <div class="progress progress-sm mb-3">
                  <div
                    class="progress-bar bg-primary"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 60%;"
                  >
                    <span class="sr-only">60%</span>
                  </div>
                </div>
                <h4 class="small font-weight-bold">
                  Php<span class="float-right">55%</span>
                </h4>
                <div class="progress progress-sm mb-3">
                  <div
                    class="progress-bar bg-info"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 55%;"
                  >
                    <span class="sr-only">55%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="text-dark mb-4">Global Rank</h3>
    <div class="card shadow">
      <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Participater Rank</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 text-nowrap">
            <div
              id="dataTable_length"
              class="dataTables_length"
              aria-controls="dataTable"
            >
              <label
                >Show&nbsp;<select
                  class="form-control form-control-sm custom-select custom-select-sm"
                >
                  <option value="10" selected="">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option> </select
                >&nbsp;</label
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-md-right dataTables_filter" id="dataTable_filter">
              <label
                ><input
                  type="search"
                  class="form-control form-control-sm"
                  aria-controls="dataTable"
                  placeholder="Search"
              /></label>
            </div>
          </div>
        </div>
        <div
          class="table-responsive table mt-2"
          id="dataTable"
          role="grid"
          aria-describedby="dataTable_info"
        >
          <table class="table dataTable my-0" id="dataTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Country</th>
                <th>Exam date</th>
                <th>Rank</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img
                    class="rounded-circle mr-2"
                    width="30"
                    height="30"
                    src="{%static 'img/avatars/avatar1.jpeg' %}"
                  />Airi Satou
                </td>
                <td>C++</td>
                <td>Tokyo</td>
                <td>2008/11/28</td>
                <td>30</td>
              </tr>
              <tr>
                <td>
                  <img
                    class="rounded-circle mr-2"
                    width="30"
                    height="30"
                    src="{%static 'img/avatars/avatar2.jpeg' %}"
                  />Angelica Ramos
                </td>
                <td>java</td>
                <td>London</td>
                <td>2009/10/09<br /></td>
                <td>52</td>
              </tr>

              <tr>
                <td>
                  <img
                    class="rounded-circle mr-2"
                    width="30"
                    height="30"
                    src="{%static 'img/avatars/avatar5.jpeg' %}"
                  />Cedric Kelly
                </td>
                <td>JavaScript</td>
                <td>Edinburgh</td>
                <td>2012/03/29<br /></td>
                <td>7</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  if(!window.localStorage.getItem("Email")){
    window.location.assign("/login");
  }
  const pic = window.localStorage.getItem("userPhoto")
  document.getElementById("pic").src = pic;

  const name = window.localStorage.getItem("userName")
  document.getElementById("name").innerHTML = name;



</script>

{% endblock %}
